@media screen and (min-width: 600px) {
    
    header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1080px;
        margin: 0 auto;
    }

    header img {
        height: 60px;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        background-color: inherit;
        width: auto;
        height: auto;
        position: inherit;
        gap: 2rem;
    }

    nav a {
        display: block;
        text-align: center;
        color: var(--heading-color);
        padding: 0 0 .1rem 0;
        border-bottom: 2px solid var(--background-color);
    }

    h2 {
        font-size: 40px;
        margin-bottom: 1rem;
    }
    
    /* --- Class Selectors --- */

    .h-hero img {
        height: 750px;
    }

    .hero-content-box {
        gap: 2rem;
        max-width: 550px;
        margin: 0;
        padding: 0;
    }

    .hero-content-box h1 {
        font-size: 60px;
        text-transform: uppercase;
    }

    .hero-content-box p {
        font-size: 20px;
    }

    .hero-content-box a {
        padding: 16px 32px;
        font-size: 18px;
    }
    
    .section-heading {
        margin-bottom: 2rem;
    }

    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-text-box {
        min-height: 432px;
    }
    .h-feature,
    .h-discover,
    .h-top,
    .h-tips {
        margin: 0 auto;
    }

    .h-discover {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    .discover-left {
        gap: 2rem;
    }

    .discover-left h2 {
        width: auto;
    }

    .discover-left a {
        padding: 16px 32px;
        font-size: 18px;
        margin-top: 0;
    }

    .h-top .card-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .footer-container {
    flex-direction: row;
}

    /* --- ID Selectors --- */

    #menu {
        display: none;
    }

    #top-card-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #top-card-2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    #top-card-3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    #top-card-4 {
        grid-row: 1/3;
        grid-column: 4/5;
    }

    #top-card-5 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    #top-card-6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    #top-card-7 {
        grid-row: 2/4;
        grid-column: 3/4;
    }

    #top-card-8 {
        grid-row: 3/4;
        grid-column: 4/5;
    }

    /* ----- Destinations Page ----- */

    .d-destinations {
        margin: 0 auto;
        max-width: 1080px;
    }

    .d-destinations h2 {
        margin: 0;
    }

    .d-section-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .filter-box {
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 1rem;
    }

    .gd-text-box {
        min-height: 432px;
    }


    /* ----- Contact Page ----- */

    .form-wrapper {
        margin: 1rem auto;
    }

    .info-card-grid {
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    .info-card {
        max-width: 200px;
    }

    /* ---Pseudo Classes */

    nav a:hover {
        border-bottom: 2px solid var(--accent-color);
    }
}