h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
}

img {
    display: block;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.footer-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}