* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.body-container {
    height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / 1fr 300px;
}

header {
    grid-column: 1/4;
    background-color: #333333;
    color: white;
}

header div {
    height: 100px;
    padding: 1rem;
}

main {
    grid-column: 1/2;
    background-color: #cccccc;
    padding: 1rem;
}

aside {
    grid-column: 2/3;
    padding: 1rem;
}

footer {
    grid-column: 1/4;
    background-color: #333333;
    text-align: center;
    color: white;
    height: 100px;
    padding: 1rem ;
}

nav {
    margin: 0 auto;
    background-color: black;
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}