* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #F5F7FA;
    color: #0E2A47;
}

header {
    background-color: #0E2A47;
    color: white;
}

#course-title {
    display: block;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(93, 116, 138, 0.5);
    padding: 1rem;
}

.nav-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

nav a {
    color: #0E2A47;
    text-decoration: none;
    flex: 1 0 auto;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

main{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

h1, h2 {
    font-family: "Bree Serif", serif;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    grid-column: 1/3;
}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(93, 116, 138, 0.5);
    margin-bottom: 1rem;
}

.h2-box {
    display: inline-block;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.3rem;
}

.h2-box div {
    height: 3px;
    width: 50%;
    background-color: #3c8aff;
    border-radius: 0.5rem;
}

#profile-img {
    width: 150px;
    float: right;
    margin: 0 0 0 1rem;
    border: 1px solid #5D748A;
}

#flag-img {
    max-width: 100%;
    border: 1px solid #5D748A;
}

footer {
    background-color: #0E2A47;
    color: white;
    padding: 1rem;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}