@media screen and (min-width: 800px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #menu {
        display: none;
    }

    header p {
        border: 3px solid #800000;
        padding: 0.3rem 2rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
        background-color: #ffffff;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
        color: #1A1A1A;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        font-size: larger;
        font-weight: 600;
        border-bottom: 3px solid #ffffff;
    }

    nav a:hover {
        color: #1A1A1A;
        border-bottom: 3px solid #800000;
        background-color: #ffffff;
    }

    .gallery-container {
        padding: 0;
    }

    .card {
        max-width: 256px;
        height: 350px;
        padding: 1rem;
    }

    .gallery-container img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
}