:root {
    --primary-color: #1a4496;
    --secondary-color: #c33344;
    --accent-color: #f6bf49;
    --text-color: #ffffff;
    --card-bg-color: rgb(255 255 255 / 80%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom: 1rem solid var(--secondary-color);
}

h1 {
    color: var(--text-color);
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

section img {
    grid-column: 1/3;
    width: 100px;
    height: auto;
    margin: auto;
}

h2 {
    grid-column: 1/3;
    text-align: center;
    /* padding-bottom: 1rem; */
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
    border-top: .5rem solid var(--secondary-color);
}


/* Class Styling */

.hero img {
    width: 100%;
    height: auto;
    max-height: 700px;
    border-bottom: .5rem solid var(--secondary-color);
    object-fit: cover;
    display: block;
}

.label {
    text-align: right;
    font-weight: 700;
}

.divider {
    width: 70%;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 10px;
    margin: auto;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}